:plain
  $('#wiki-alerts').html("#{escape_javascript (render partial: 'shared/alerts')}");
  $('#div_comment_show').html("#{escape_javascript (render partial: 'comments/show')}");
  $('#comment_description').val('');