.row
  .col-md-10
    -@articles.each do |article|
      .panel.panel-success
        .panel-heading
          %h4
            = link_to "#{article.title}", article_path(article)
        .panel-body
          = article.content