.container-fluid
  .row
    .col-md-6.col-md-offset-3
      .panel.panel-login
        .panel-heading
          .row
            .col-xs-12
              %a#register-form-link{:href => "#"} Reset Password
          %hr/
        .panel-body
          .row
            .col-lg-12
              #register-form
                = simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
                  .form-group
                    .row
                      .col-sm-12.col-sm-offset-3
                    = f.input :email, required: true
                  .form-group
                    .row
                      .col-sm-6.col-sm-offset-3
                        %input#register-submit.form-control.btn.btn-register{:name => "register-submit", :tabindex => "4", :type => "submit", :value => "reset Password"}/
                = render "devise/shared/links"