.profile-img{
  margin-top: -5px;
  margin-right: 5px;
  float: left;
  /*background: url(default.png) 50% 50% no-repeat;*/
   /* 50% 50% centers image in div */
  background-size: auto 100%; /* Interchange this value depending on prefering width vs. height */
  width: 30px;
  height: 30px;
}