.container
  %h3 Category Management
  .category_table
    %table.table.table-bordered
      %thead
        %tr
          %th Name
          %th Description
          %th Action
      %tbody
        - @categories.each do |category|
          %tr
            %td #{category.name}
            %td #{category.description}
            %td
              = link_to edit_category_path(category) do
                .glyphicon.glyphicon-edit
              &nbsp;
              = link_to category_path(category), data: {confirm: 'Are You Sure ?'}, method: :delete, tooltip: 'delete' do
                .glyphicon.glyphicon-trash
