.row
  %h3
    Hi #{@author.user_name}
  %p
    A comment is Added to your article #{@article.title}
    %br
    comment: #{@comment.description}
    %br
    commented by : #{@comment.user.user_name}
  %h4

  Regards,
  %br
  Wiki Team