.row
  %h3
    Hi #{@author.user_name}
  %p
    A citation is Added to your article #{@article_title}
    %br
    Citation Description: #{@link.description}
    %br
    Citation Address: #{@link.address}
  %h4

  Regards,
  %br
  Wiki Team